.Main {
    background-color: #f5f5f5;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(140, 138, 138, 0.971);
    margin: 0 auto;
    padding: 10px;
    width: 400px;
    height: 30px;

    /* Center  */
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -250px;
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}


.AboutMe {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 27px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.971);
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    /* Center  */
    position: absolute;
    top: 10%;
    left: 62%;
    margin-left: -250px;

    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.AboutMe:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #4CAF50;
}


.Services {
    background-color: #2791ba; /* Green */
    border: none;
    color: white;
    padding: 10px 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.971);
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    position: absolute;
    top: 10%;
    right: 29%;
    margin-left: -250px;

    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.Services:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #2791ba;
}



.Projects {
    background-color: #dac419; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.700);
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    position: absolute;
    top: 10%;
    right: 2.5%;
    margin-left: -250px;

    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.Projects:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #dac419;
}


